<div class="container mt-5">
    <div class="row">
        <div class="card mb-3 p-5" style="width: 90%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGqgFLhp4L0iV6wTBRoOWiQk7RRBPZOi5K9A&usqp=CAU"
                        class="img-fluid rounded-circle" style="width: 200px; height: 200px;" alt="...">
                </div>
                <div class="card-body col-md-8 mx-auto">
                    <h3 class="card-title text-center text-primary">Your Profile</h3>
                    <h3 class="card-title text-center text-primary mb-5">-</h3>
                    <p class="text-primary"><b>User Id : </b> {{userId}}</p>
                    <p class="text-primary"><b>First Name : </b> {{firstName}}</p>
                    <p class="text-primary"><b>Last Name : </b> {{lastName}}</p>
                    <p class="text-primary"><b>Email : </b> {{email}}</p>
                    <p class="text-primary"><b>Bank : </b> {{userInfo.bank}}</p>
                    <p class="text-primary"><b>Account Number : </b> {{userInfo.accountNumber}}</p>
                    <p class="text-primary"><b>Balance : </b> {{userInfo.balance}}</p>
                </div>
            </div>
        </div>
    </div>
</div>